<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>菜鸟教程(runoob.com)</title>
</head>
<body>
    <form action="/polls/search-post/" method="post">
        {% csrf_token %}
        <input type="text" name="q">
        <br>
        <input type="text" name="q2">
        <br>
        <input type="text" name="q3">
        <br>
        <input type="submit" value="搜索">
        <p><input type="checkbox" name="CC" value="1">
            <input type="checkbox" name="CC" value="2">
            <input type="checkbox" name="CC" value="3"></p>
        <p><input type="radio" value="V1" checked name="R1">
            <input type="radio" name="R1" value="V2"></p>
        <p><select size="1" name="D1">
        <option selected>A</option>
        <option>B</option>
        <option>C</option>
        </select></p>
    



    </form>
    <p>{{ rlt }}</p>
    <p>{{ rlt1 }}</p>
    <p>{{ rlt2 }}</p>
    <p>{{ rlt3 }}</p>
    <p>{{ rlt4 }}</p>
    <p>{{ rlt5 }}</p>
    <p>{{ rlt6 }}</p>
    <p>{{ D1 }}</p>
    <p></p>
    测试
</body>
</html>