<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>模板</title>
</head>
<body>
网站目录
{% load static %}



<table border="1" width="100%">
    <tr><td>        序号</td>
        <td>页面
        <td>函数</td>
        <td>说明</td>
    </td>
    {%     for a in zd_list   %}
   

    <tr>
        <td>
            {{ forloop.counter }}</td>
        <td>{{ a.0 }}
        <td><a href=/myen/{{ a.0 }}>{{ a.1 }}</a><td>2:{{ a.2 }}</td>
    </td>
</tr>

        {% endfor %}
   

    
    </table>

</body>
</html>