<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>001</title>
</head>

<body>

ok
<table border="1" width="100%" id="table1">
	<tr>
		<td align="center">数据库</td>
		<td align="center">建表</td>
		<td align="center">管理</td>
		<td align="center">查看</td>
		<td align="center">删除</td>
		<td align="center">添加</td>
		<td align="center">上传</td>
	</tr>
</table>
 <a href="/myen/sql1/">返回</a>  当前表名：{{ zd_list.biao }} 
 

<br>13:

{{ zd_list }}


<a href="/myen/xiugai/{{  zd_list.biao  }}">返回</a>  
</body>

</html>
