<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>001</title>
</head>

<body>

    <form method="POST" action="/myen/sqlcreate1/">  <!-- 结尾必须事sqlcreate1/  -->
        {% csrf_token %}

        <table border="1" width="100%" id="table1">
            <tr>
                <td>表名</td>
                <td><input type="text" name="T1" size="20"></td>
            </tr>
            <tr>
                <td>字段1</td>
                <td><input type="text" name="T2" size="20"></td>
            </tr>
            <tr>
                <td>字段2</td>
                <td><input type="text" name="T3" size="20"></td>
            </tr>
            <tr>
                <td>字段3</td>
                <td><input type="text" name="T4" size="20"></td>
                <td>　</td>
            </tr>
            <tr>
                <td>字段4</td>
                <td><input type="text" name="T5" size="20"></td>
            </tr>
            <tr>
                <td>字段5</td>
                <td><input type="text" name="T6" size="20"></td>
            </tr>
        </table>
        
            <p><input type="submit" value="提交" name="B1"><input type="reset" value="重置" name="B2"></p>
        </form>
        

</body>

</html>
