<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
<meta charset="UTF-8">
<title>运行结果显示</title>
</head>

<body>
测试：


    <form method="POST" action="/myen/jieguo/">  <!-- 结尾必须事sqlcreate1/  -->
        {% csrf_token %}

{%   for m in zd_list.timu %}
{{ forloop.counter }}
{% for n in m %}
{{ n|safe }}
{% endfor %}
<br>

{% endfor %}



 <input type="submit" value="提交" name="B1"><input type="reset" value="重置" name="B2">
</form>


</body>

</html>
