<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>001</title>
</head>

<body>
   
    {% autoescape off %}
    {{ zd_list.caidan }}
    {% endautoescape %}
    {% for i in zd_list.shuju %}  

    <form method="POST" action="/myen/tm_lx/?tm_id={{ i.0 }}">
        {% csrf_token %}
        <table border="1" width="100%" id="table1">
           
          
            <tr>
                <td>题目：</td>
                <td> {{ i.3|safe }} </td>
            </tr>
            <tr>
                <td>选项</td>
                <td> {{ i.1|safe }} </td>
            </tr>
        <!--   
            <tr>
                <td>答案</td>
                <td> {{ i.4 }} </td>
            </tr>
            <tr>
                <td>选择</td>
                <td> {{ zd_list.xuanze }} </td>
            </tr>
           --> 
        </table>    
                        
        <p align="center"> <input type="submit" value="提交" style="font-size: 14pt" name="B1"><input type="reset" style="font-size: 14pt" value="重置" name="B2"></p>
    </form>
    
    {%  endfor %}      
              <br>     
                 
              <table border="1" width="100%" id="table1">
           
          
                <tr>
                    <td>题目：</td>
                    <td> {{ zd_list.timu.0.3|safe }} </td>
                </tr>
                <tr>
                    <td>选项</td>
                    <td> {{ zd_list.timu.0.1|safe }} </td>
                </tr>
           
                <tr>
                    <td>答案</td>
                    <td> {{ zd_list.timu.0.4 }} </td>
                  
                </tr>
               
                <tr  {{ zd_list.ser }} >
                    <td>选择</td>
                    <td> {{ zd_list.xuanze }} </td>
                </tr>
               

             
            </table>   
          
</body>

</html>
